<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="equip_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let equip">{{equip.equip_name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Updated</mat-header-cell>
    <mat-cell *matCellDef="let equip">
      <div class="desktop">
        {{equip.time | date:'y-MM-dd'}}
        <span>({{equip.time | date:'hh:mm:ss'}})</span>
      </div>
      <div class="mobile">
        {{equip.time | date:'yy/MM/dd'}}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="S3avg">
    <mat-header-cell *matHeaderCellDef mat-sort-header>S3 Avg</mat-header-cell>
    <mat-cell *matCellDef="let equip">{{equip.S3avg | number:'1.1-1'}} &deg;C</mat-cell>
  </ng-container>

  <ng-container matColumnDef="S4avg">
    <mat-header-cell *matHeaderCellDef mat-sort-header>S4 Avg</mat-header-cell>
    <mat-cell *matCellDef="let equip">{{equip.S4avg | number:'1.1-1'}} &deg;C</mat-cell>
  </ng-container>

  <ng-container matColumnDef="TempAvg">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Temp Avg</mat-header-cell>
    <mat-cell *matCellDef="let equip">{{equip.TempAvg | number:'1.1-1'}} &deg;C</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableColumns;" [routerLink]="['equip', row.equip_name]"></mat-row>
</mat-table>

<mat-paginator #paginator [length]="site.equips.length" pageSize="10" [pageSizeOptions]="[5,10,20,50]"></mat-paginator>
