@import "~styles/colors";

/deep/ .filter {
  padding-top: 8px;

  mat-form-field {
    width: 100%;
  }
}

mat-row {
  outline: none;
  cursor: pointer;

  &:hover {
    background: $lightgrey;
  }

  .desktop {
    span {
      color: $grey;
    }
  }

  /deep/ .mobile {
    display: none;
  }
}