<mat-card>
    <mat-card-content>
        <h2>Direction</h2>

        <section>
            <mat-slide-toggle [color]="'primary'" [checked]="isRtl" (change)="changeDir($event)">
                RTL
            </mat-slide-toggle>
        </section>
    </mat-card-content>
</mat-card>