* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  padding: 64px 0 0;
  height: calc(100% - 64px);
}

a, [ng-reflect-router-link] {
  cursor: pointer;
}

button {
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}