// TODO separate and move mobile styles to appropriate component
@media only screen and (max-width: 800px) {
  body {
    padding-top: 56px;
    height: calc(100% - 56px);

    mat-sidenav-content {
      padding: 0;
    }

    mat-toolbar {
      .mat-icon-button {
        width: 30px;
        margin-left: -10px;
        margin-right: 5px;
      }

      ul.breadcrumb {
        padding: .75rem 0;

        .breadcrumb-item {
          font-size: 15px;
        }
      }
    }

    app-site-list {
      mat-card {
        mat-card-footer {
          padding: 0 16px;
        }
      }
    }

    app-site-overview {
      .mat-header-row, .mat-row {
        padding: 0 5px;
      }

      .mat-cell {
        font-size: 12px;

        .desktop {
          display: none;
        }

        .mobile {
          display: block;
        }
      }
    }
  }
}