html[dir=rtl] {
  mat-toolbar {

    @media only screen and (max-width: 800px) {
      .mat-icon-button {
        width: 30px;
        margin-left: 5px;
        margin-right: -10px;
      }
    }

    .breadcrumb {
      .breadcrumb-item {
        span, a, &:before {
          float: right;
        }

        span, a {
          &:after {
            content: "\200E‎";
          }
        }
      }
    }
  }
}