mat-toolbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid $grey;

  .breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    list-style: none;
    border-radius: .25rem;

    .breadcrumb-item {
      font-size: 20px;

      span, a, &:before {
        float: left;
      }

      span {
        color: $grey;
      }

      a {
        color: $main;
      }

      &+ .breadcrumb-item::before {
        @extend %breadcrumb-delimeter;
      }
    }
  }
}