<h2 *ngIf="!list.length">No sites available, try again later</h2>

<mat-grid-list [cols]="cols" [rowHeight]="colsPrecision">
  <mat-grid-tile *ngFor="let item of list" [routerLink]="'/sites/' + item.id">
    <mat-card>
      <mat-card-title>{{item.site}}</mat-card-title>
      <mat-card-footer>{{item.block}} block</mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>