@import "~styles/colors";

/deep/ mat-grid-tile {
  cursor: pointer;
  outline: none;

  /deep/ mat-card {
    width: 70%;
    transition: background-color .3s;

    &:hover {
      background: $lightgrey;
    }

    /deep/ mat-card-footer {
      color: $grey;
      padding: 0 24px;
    }
  }
}

@media only screen and (max-width: 990px) {
  mat-grid-tile {
    mat-grid-tile-footer {
      height: 20px;
    }
  }
}