<mat-toolbar>
    <button mat-icon-button (click)="opened = !opened" [ngClass]="{'opened': opened}">
        <mat-icon>menu</mat-icon>
    </button>

    <breadcrumb></breadcrumb>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="over" fixedInViewport="true" [fixedTopGap]="isMobile ? 56 : 64">
        <mat-nav-list>
            <a active mat-list-item *ngFor="let menutItem of menu" (click)="navigate(menutItem.link)">
                <mat-icon>{{menutItem.icon}}</mat-icon>
                {{menutItem.title}}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>