mat-sidenav-container {
  height: 100%;
  background: none;


  mat-sidenav {
    padding: 10px;

    .mat-button {
      text-align: left;
    }
  }

  mat-sidenav-content {
    padding: 0 20px;
  }
}

mat-toolbar {
  > button {
    .mat-icon {
      transition: transform .3s;
    }

    &.opened {
      .mat-icon {
        transform: rotate(-90deg);
      }
    }
  }
}